<!DOCTYPE html>
<html>
    <head>
        <script async="gtag.js"></script>
        <title>Broccoli Recommender</title>
    </head>
    <body>
        <center>
            <h2>Broccoli Recommender</h2>

            <p>Here are your personalized recommendations</p>

                <table border='1'>
                    {{recommendations|safe}}
                </table>

            <p><a href='/'>Try it again!</a></p>
            <p>You can help improve these recommendations by answering the
                <a href='survey'>food preferences questionnaire</a>.</p>
        </center>
    </body>
</html>
