<!DOCTYPE html>
<html>
    <head>
        <title>Broccoli Questionnaire</title>
    </head>
    <body>
        <form action = "/thankyou" method="POST">
            <table border="1">
            <tr><td>1</td><td>alfalfa sprouts</td><td><img src="static/images/alfalfasprouts.jpg" alt="picture of alfalfa sprouts"></td>
                <td><input type="radio" id="alfalfasprouts-like" name="alfalfasprouts" value="1"><label for="alfalfasprouts-like">like</label><br>
                <input type="radio" id="alfalfasprouts-neutral" name="alfalfasprouts" value="0" checked><label for="alfalfasprouts-neutral">neutral</label><br>
                <input type="radio" id="alfalfasprouts-dislike" name="alfalfasprouts" value="-1"><label for="alfalfasprouts-dislike">dislike</label></td></tr>
            <tr><td>2</td><td>apples</td><td><img src="static/images/apples.jpg" alt="picture of apples"></td>
                <td><input type="radio" id="apples-like" name="apples" value="1"><label for="apples-like">like</label><br>
                <input type="radio" id="apples-neutral" name="apples" value="0" checked><label for="apples-neutral">neutral</label><br>
                <input type="radio" id="apples-dislike" name="apples" value="-1"><label for="apples-dislike">dislike</label></td></tr>
            <tr><td>3</td><td>apricots</td><td><img src="static/images/apricots.jpg" alt="picture of apricots"></td>
                <td><input type="radio" id="apricots-like" name="apricots" value="1"><label for="apricots-like">like</label><br>
                <input type="radio" id="apricots-neutral" name="apricots" value="0" checked><label for="apricots-neutral">neutral</label><br>
                <input type="radio" id="apricots-dislike" name="apricots" value="-1"><label for="apricots-dislike">dislike</label></td></tr>
            <tr><td>4</td><td>artichokes</td><td><img src="static/images/artichokes.jpg" alt="picture of artichokes"></td>
                <td><input type="radio" id="artichokes-like" name="artichokes" value="1"><label for="artichokes-like">like</label><br>
                <input type="radio" id="artichokes-neutral" name="artichokes" value="0" checked><label for="artichokes-neutral">neutral</label><br>
                <input type="radio" id="artichokes-dislike" name="artichokes" value="-1"><label for="artichokes-dislike">dislike</label></td></tr>
            <tr><td>5</td><td>arugula</td><td><img src="static/images/arugula.jpg" alt="picture of arugula"></td>
                <td><input type="radio" id="arugula-like" name="arugula" value="1"><label for="arugula-like">like</label><br>
                <input type="radio" id="arugula-neutral" name="arugula" value="0" checked><label for="arugula-neutral">neutral</label><br>
                <input type="radio" id="arugula-dislike" name="arugula" value="-1"><label for="arugula-dislike">dislike</label></td></tr>
            <tr><td>6</td><td>asparagus</td><td><img src="static/images/asparagus.jpg" alt="picture of asparagus"></td>
                <td><input type="radio" id="asparagus-like" name="asparagus" value="1"><label for="asparagus-like">like</label><br>
                <input type="radio" id="asparagus-neutral" name="asparagus" value="0" checked><label for="asparagus-neutral">neutral</label><br>
                <input type="radio" id="asparagus-dislike" name="asparagus" value="-1"><label for="asparagus-dislike">dislike</label></td></tr>
            <tr><td>7</td><td>avocados</td><td><img src="static/images/avocados.jpg" alt="picture of avocados"></td>
                <td><input type="radio" id="avocados-like" name="avocados" value="1"><label for="avocados-like">like</label><br>
                <input type="radio" id="avocados-neutral" name="avocados" value="0" checked><label for="avocados-neutral">neutral</label><br>
                <input type="radio" id="avocados-dislike" name="avocados" value="-1"><label for="avocados-dislike">dislike</label></td></tr>
            <tr><td>8</td><td>bananas</td><td><img src="static/images/bananas.jpg" alt="picture of bananas"></td>
                <td><input type="radio" id="bananas-like" name="bananas" value="1"><label for="bananas-like">like</label><br>
                <input type="radio" id="bananas-neutral" name="bananas" value="0" checked><label for="bananas-neutral">neutral</label><br>
                <input type="radio" id="bananas-dislike" name="bananas" value="-1"><label for="bananas-dislike">dislike</label></td></tr>
            <tr><td>9</td><td>bean sprouts</td><td><img src="static/images/beansprouts.jpg" alt="picture of bean sprouts"></td>
                <td><input type="radio" id="beansprouts-like" name="beansprouts" value="1"><label for="beansprouts-like">like</label><br>
                <input type="radio" id="beansprouts-neutral" name="beansprouts" value="0" checked><label for="beansprouts-neutral">neutral</label><br>
                <input type="radio" id="beansprouts-dislike" name="beansprouts" value="-1"><label for="beansprouts-dislike">dislike</label></td></tr>
            <tr><td>10</td><td>beets</td><td><img src="static/images/beets.jpg" alt="picture of beets"></td>
                <td><input type="radio" id="beets-like" name="beets" value="1"><label for="beets-like">like</label><br>
                <input type="radio" id="beets-neutral" name="beets" value="0" checked><label for="beets-neutral">neutral</label><br>
                <input type="radio" id="beets-dislike" name="beets" value="-1"><label for="beets-dislike">dislike</label></td></tr>
            <tr><td>11</td><td>bell peppers</td><td><img src="static/images/bellpeppers.jpg" alt="picture of bell peppers"></td>
                <td><input type="radio" id="bellpeppers-like" name="bellpeppers" value="1"><label for="bellpeppers-like">like</label><br>
                <input type="radio" id="bellpeppers-neutral" name="bellpeppers" value="0" checked><label for="bellpeppers-neutral">neutral</label><br>
                <input type="radio" id="bellpeppers-dislike" name="bellpeppers" value="-1"><label for="bellpeppers-dislike">dislike</label></td></tr>
            <tr><td>12</td><td>blackberries</td><td><img src="static/images/blackberries.jpg" alt="picture of blackberries"></td>
                <td><input type="radio" id="blackberries-like" name="blackberries" value="1"><label for="blackberries-like">like</label><br>
                <input type="radio" id="blackberries-neutral" name="blackberries" value="0" checked><label for="blackberries-neutral">neutral</label><br>
                <input type="radio" id="blackberries-dislike" name="blackberries" value="-1"><label for="blackberries-dislike">dislike</label></td></tr>
            <tr><td>13</td><td>blueberries</td><td><img src="static/images/blueberries.jpg" alt="picture of blueberries"></td>
                <td><input type="radio" id="blueberries-like" name="blueberries" value="1"><label for="blueberries-like">like</label><br>
                <input type="radio" id="blueberries-neutral" name="blueberries" value="0" checked><label for="blueberries-neutral">neutral</label><br>
                <input type="radio" id="blueberries-dislike" name="blueberries" value="-1"><label for="blueberries-dislike">dislike</label></td></tr>
            <tr><td>14</td><td>bok choy</td><td><img src="static/images/bokchoy.jpg" alt="picture of bok choy"></td>
                <td><input type="radio" id="bokchoy-like" name="bokchoy" value="1"><label for="bokchoy-like">like</label><br>
                <input type="radio" id="bokchoy-neutral" name="bokchoy" value="0" checked><label for="bokchoy-neutral">neutral</label><br>
                <input type="radio" id="bokchoy-dislike" name="bokchoy" value="-1"><label for="bokchoy-dislike">dislike</label></td></tr>
            <tr><td>15</td><td>broccoli</td><td><img src="static/images/broccoli.jpg" alt="picture of broccoli"></td>
                <td><input type="radio" id="broccoli-like" name="broccoli" value="1"><label for="broccoli-like">like</label><br>
                <input type="radio" id="broccoli-neutral" name="broccoli" value="0" checked><label for="broccoli-neutral">neutral</label><br>
                <input type="radio" id="broccoli-dislike" name="broccoli" value="-1"><label for="broccoli-dislike">dislike</label></td></tr>
            <tr><td>16</td><td>brussels sprouts</td><td><img src="static/images/brusselssprouts.jpg" alt="picture of brussels sprouts"></td>
                <td><input type="radio" id="brusselssprouts-like" name="brusselssprouts" value="1"><label for="brusselssprouts-like">like</label><br>
                <input type="radio" id="brusselssprouts-neutral" name="brusselssprouts" value="0" checked><label for="brusselssprouts-neutral">neutral</label><br>
                <input type="radio" id="brusselssprouts-dislike" name="brusselssprouts" value="-1"><label for="brusselssprouts-dislike">dislike</label></td></tr>
            <tr><td>17</td><td>butternut squash</td><td><img src="static/images/butternutsquash.jpg" alt="picture of butternut squash"></td>
                <td><input type="radio" id="butternutsquash-like" name="butternutsquash" value="1"><label for="butternutsquash-like">like</label><br>
                <input type="radio" id="butternutsquash-neutral" name="butternutsquash" value="0" checked><label for="butternutsquash-neutral">neutral</label><br>
                <input type="radio" id="butternutsquash-dislike" name="butternutsquash" value="-1"><label for="butternutsquash-dislike">dislike</label></td></tr>
            <tr><td>18</td><td>cabbage</td><td><img src="static/images/cabbage.jpg" alt="picture of cabbage"></td>
                <td><input type="radio" id="cabbage-like" name="cabbage" value="1"><label for="cabbage-like">like</label><br>
                <input type="radio" id="cabbage-neutral" name="cabbage" value="0" checked><label for="cabbage-neutral">neutral</label><br>
                <input type="radio" id="cabbage-dislike" name="cabbage" value="-1"><label for="cabbage-dislike">dislike</label></td></tr>
            <tr><td>19</td><td>cantaloupe</td><td><img src="static/images/cantaloupe.jpg" alt="picture of cantaloupe"></td>
                <td><input type="radio" id="cantaloupe-like" name="cantaloupe" value="1"><label for="cantaloupe-like">like</label><br>
                <input type="radio" id="cantaloupe-neutral" name="cantaloupe" value="0" checked><label for="cantaloupe-neutral">neutral</label><br>
                <input type="radio" id="cantaloupe-dislike" name="cantaloupe" value="-1"><label for="cantaloupe-dislike">dislike</label></td></tr>
            <tr><td>20</td><td>carrots</td><td><img src="static/images/carrots.jpg" alt="picture of carrots"></td>
                <td><input type="radio" id="carrots-like" name="carrots" value="1"><label for="carrots-like">like</label><br>
                <input type="radio" id="carrots-neutral" name="carrots" value="0" checked><label for="carrots-neutral">neutral</label><br>
                <input type="radio" id="carrots-dislike" name="carrots" value="-1"><label for="carrots-dislike">dislike</label></td></tr>
            <tr><td>21</td><td>cauliflower</td><td><img src="static/images/cauliflower.jpg" alt="picture of cauliflower"></td>
                <td><input type="radio" id="cauliflower-like" name="cauliflower" value="1"><label for="cauliflower-like">like</label><br>
                <input type="radio" id="cauliflower-neutral" name="cauliflower" value="0" checked><label for="cauliflower-neutral">neutral</label><br>
                <input type="radio" id="cauliflower-dislike" name="cauliflower" value="-1"><label for="cauliflower-dislike">dislike</label></td></tr>
            <tr><td>22</td><td>celery</td><td><img src="static/images/celery.jpg" alt="picture of celery"></td>
                <td><input type="radio" id="celery-like" name="celery" value="1"><label for="celery-like">like</label><br>
                <input type="radio" id="celery-neutral" name="celery" value="0" checked><label for="celery-neutral">neutral</label><br>
                <input type="radio" id="celery-dislike" name="celery" value="-1"><label for="celery-dislike">dislike</label></td></tr>
            <tr><td>23</td><td>cherries</td><td><img src="static/images/cherries.jpg" alt="picture of cherries"></td>
                <td><input type="radio" id="cherries-like" name="cherries" value="1"><label for="cherries-like">like</label><br>
                <input type="radio" id="cherries-neutral" name="cherries" value="0" checked><label for="cherries-neutral">neutral</label><br>
                <input type="radio" id="cherries-dislike" name="cherries" value="-1"><label for="cherries-dislike">dislike</label></td></tr>
            <tr><td>24</td><td>chili peppers</td><td><img src="static/images/chilipeppers.jpg" alt="picture of chili peppers"></td>
                <td><input type="radio" id="chilipeppers-like" name="chilipeppers" value="1"><label for="chilipeppers-like">like</label><br>
                <input type="radio" id="chilipeppers-neutral" name="chilipeppers" value="0" checked><label for="chilipeppers-neutral">neutral</label><br>
                <input type="radio" id="chilipeppers-dislike" name="chilipeppers" value="-1"><label for="chilipeppers-dislike">dislike</label></td></tr>
            <tr><td>25</td><td>clementines</td><td><img src="static/images/clementines.jpg" alt="picture of clementines"></td>
                <td><input type="radio" id="clementines-like" name="clementines" value="1"><label for="clementines-like">like</label><br>
                <input type="radio" id="clementines-neutral" name="clementines" value="0" checked><label for="clementines-neutral">neutral</label><br>
                <input type="radio" id="clementines-dislike" name="clementines" value="-1"><label for="clementines-dislike">dislike</label></td></tr>
            <tr><td>26</td><td>coconuts</td><td><img src="static/images/coconuts.jpg" alt="picture of coconuts"></td>
                <td><input type="radio" id="coconuts-like" name="coconuts" value="1"><label for="coconuts-like">like</label><br>
                <input type="radio" id="coconuts-neutral" name="coconuts" value="0" checked><label for="coconuts-neutral">neutral</label><br>
                <input type="radio" id="coconuts-dislike" name="coconuts" value="-1"><label for="coconuts-dislike">dislike</label></td></tr>
            <tr><td>27</td><td>collard greens</td><td><img src="static/images/collardgreens.jpg" alt="picture of collard greens"></td>
                <td><input type="radio" id="collardgreens-like" name="collardgreens" value="1"><label for="collardgreens-like">like</label><br>
                <input type="radio" id="collardgreens-neutral" name="collardgreens" value="0" checked><label for="collardgreens-neutral">neutral</label><br>
                <input type="radio" id="collardgreens-dislike" name="collardgreens" value="-1"><label for="collardgreens-dislike">dislike</label></td></tr>
            <tr><td>28</td><td>coriander</td><td><img src="static/images/coriander.jpg" alt="picture of coriander"></td>
                <td><input type="radio" id="coriander-like" name="coriander" value="1"><label for="coriander-like">like</label><br>
                <input type="radio" id="coriander-neutral" name="coriander" value="0" checked><label for="coriander-neutral">neutral</label><br>
                <input type="radio" id="coriander-dislike" name="coriander" value="-1"><label for="coriander-dislike">dislike</label></td></tr>
            <tr><td>29</td><td>corn</td><td><img src="static/images/corn.jpg" alt="picture of corn"></td>
                <td><input type="radio" id="corn-like" name="corn" value="1"><label for="corn-like">like</label><br>
                <input type="radio" id="corn-neutral" name="corn" value="0" checked><label for="corn-neutral">neutral</label><br>
                <input type="radio" id="corn-dislike" name="corn" value="-1"><label for="corn-dislike">dislike</label></td></tr>
            <tr><td>30</td><td>cranberries</td><td><img src="static/images/cranberries.jpg" alt="picture of cranberries"></td>
                <td><input type="radio" id="cranberries-like" name="cranberries" value="1"><label for="cranberries-like">like</label><br>
                <input type="radio" id="cranberries-neutral" name="cranberries" value="0" checked><label for="cranberries-neutral">neutral</label><br>
                <input type="radio" id="cranberries-dislike" name="cranberries" value="-1"><label for="cranberries-dislike">dislike</label></td></tr>
            <tr><td>31</td><td>cucumbers</td><td><img src="static/images/cucumbers.jpg" alt="picture of cucumbers"></td>
                <td><input type="radio" id="cucumbers-like" name="cucumbers" value="1"><label for="cucumbers-like">like</label><br>
                <input type="radio" id="cucumbers-neutral" name="cucumbers" value="0" checked><label for="cucumbers-neutral">neutral</label><br>
                <input type="radio" id="cucumbers-dislike" name="cucumbers" value="-1"><label for="cucumbers-dislike">dislike</label></td></tr>
            <tr><td>32</td><td>currants</td><td><img src="static/images/currants.jpg" alt="picture of currants"></td>
                <td><input type="radio" id="currants-like" name="currants" value="1"><label for="currants-like">like</label><br>
                <input type="radio" id="currants-neutral" name="currants" value="0" checked><label for="currants-neutral">neutral</label><br>
                <input type="radio" id="currants-dislike" name="currants" value="-1"><label for="currants-dislike">dislike</label></td></tr>
            <tr><td>33</td><td>dandelion greens</td><td><img src="static/images/dandeliongreens.jpg" alt="picture of dandelion greens"></td>
                <td><input type="radio" id="dandeliongreens-like" name="dandeliongreens" value="1"><label for="dandeliongreens-like">like</label><br>
                <input type="radio" id="dandeliongreens-neutral" name="dandeliongreens" value="0" checked><label for="dandeliongreens-neutral">neutral</label><br>
                <input type="radio" id="dandeliongreens-dislike" name="dandeliongreens" value="-1"><label for="dandeliongreens-dislike">dislike</label></td></tr>
            <tr><td>34</td><td>dates</td><td><img src="static/images/dates.jpg" alt="picture of dates"></td>
                <td><input type="radio" id="dates-like" name="dates" value="1"><label for="dates-like">like</label><br>
                <input type="radio" id="dates-neutral" name="dates" value="0" checked><label for="dates-neutral">neutral</label><br>
                <input type="radio" id="dates-dislike" name="dates" value="-1"><label for="dates-dislike">dislike</label></td></tr>
            <tr><td>35</td><td>dragonfruit</td><td><img src="static/images/dragonfruit.jpg" alt="picture of dragonfruit"></td>
                <td><input type="radio" id="dragonfruit-like" name="dragonfruit" value="1"><label for="dragonfruit-like">like</label><br>
                <input type="radio" id="dragonfruit-neutral" name="dragonfruit" value="0" checked><label for="dragonfruit-neutral">neutral</label><br>
                <input type="radio" id="dragonfruit-dislike" name="dragonfruit" value="-1"><label for="dragonfruit-dislike">dislike</label></td></tr>
            <tr><td>36</td><td>edamame</td><td><img src="static/images/edamame.jpg" alt="picture of edamame"></td>
                <td><input type="radio" id="edamame-like" name="edamame" value="1"><label for="edamame-like">like</label><br>
                <input type="radio" id="edamame-neutral" name="edamame" value="0" checked><label for="edamame-neutral">neutral</label><br>
                <input type="radio" id="edamame-dislike" name="edamame" value="-1"><label for="edamame-dislike">dislike</label></td></tr>
            <tr><td>37</td><td>eggplant</td><td><img src="static/images/eggplant.jpg" alt="picture of eggplant"></td>
                <td><input type="radio" id="eggplant-like" name="eggplant" value="1"><label for="eggplant-like">like</label><br>
                <input type="radio" id="eggplant-neutral" name="eggplant" value="0" checked><label for="eggplant-neutral">neutral</label><br>
                <input type="radio" id="eggplant-dislike" name="eggplant" value="-1"><label for="eggplant-dislike">dislike</label></td></tr>
            <tr><td>38</td><td>endive</td><td><img src="static/images/endive.jpg" alt="picture of endive"></td>
                <td><input type="radio" id="endive-like" name="endive" value="1"><label for="endive-like">like</label><br>
                <input type="radio" id="endive-neutral" name="endive" value="0" checked><label for="endive-neutral">neutral</label><br>
                <input type="radio" id="endive-dislike" name="endive" value="-1"><label for="endive-dislike">dislike</label></td></tr>
            <tr><td>39</td><td>fennel</td><td><img src="static/images/fennel.jpg" alt="picture of fennel"></td>
                <td><input type="radio" id="fennel-like" name="fennel" value="1"><label for="fennel-like">like</label><br>
                <input type="radio" id="fennel-neutral" name="fennel" value="0" checked><label for="fennel-neutral">neutral</label><br>
                <input type="radio" id="fennel-dislike" name="fennel" value="-1"><label for="fennel-dislike">dislike</label></td></tr>
            <tr><td>40</td><td>fiddleheads</td><td><img src="static/images/fiddleheads.jpg" alt="picture of fiddleheads"></td>
                <td><input type="radio" id="fiddleheads-like" name="fiddleheads" value="1"><label for="fiddleheads-like">like</label><br>
                <input type="radio" id="fiddleheads-neutral" name="fiddleheads" value="0" checked><label for="fiddleheads-neutral">neutral</label><br>
                <input type="radio" id="fiddleheads-dislike" name="fiddleheads" value="-1"><label for="fiddleheads-dislike">dislike</label></td></tr>
            <tr><td>41</td><td>figs</td><td><img src="static/images/figs.jpg" alt="picture of figs"></td>
                <td><input type="radio" id="figs-like" name="figs" value="1"><label for="figs-like">like</label><br>
                <input type="radio" id="figs-neutral" name="figs" value="0" checked><label for="figs-neutral">neutral</label><br>
                <input type="radio" id="figs-dislike" name="figs" value="-1"><label for="figs-dislike">dislike</label></td></tr>
            <tr><td>42</td><td>garlic</td><td><img src="static/images/garlic.jpg" alt="picture of garlic"></td>
                <td><input type="radio" id="garlic-like" name="garlic" value="1"><label for="garlic-like">like</label><br>
                <input type="radio" id="garlic-neutral" name="garlic" value="0" checked><label for="garlic-neutral">neutral</label><br>
                <input type="radio" id="garlic-dislike" name="garlic" value="-1"><label for="garlic-dislike">dislike</label></td></tr>
            <tr><td>43</td><td>ginger</td><td><img src="static/images/ginger.jpg" alt="picture of ginger"></td>
                <td><input type="radio" id="ginger-like" name="ginger" value="1"><label for="ginger-like">like</label><br>
                <input type="radio" id="ginger-neutral" name="ginger" value="0" checked><label for="ginger-neutral">neutral</label><br>
                <input type="radio" id="ginger-dislike" name="ginger" value="-1"><label for="ginger-dislike">dislike</label></td></tr>
            <tr><td>44</td><td>grapefruit</td><td><img src="static/images/grapefruit.jpg" alt="picture of grapefruit"></td>
                <td><input type="radio" id="grapefruit-like" name="grapefruit" value="1"><label for="grapefruit-like">like</label><br>
                <input type="radio" id="grapefruit-neutral" name="grapefruit" value="0" checked><label for="grapefruit-neutral">neutral</label><br>
                <input type="radio" id="grapefruit-dislike" name="grapefruit" value="-1"><label for="grapefruit-dislike">dislike</label></td></tr>
            <tr><td>45</td><td>grapes</td><td><img src="static/images/grapes.jpg" alt="picture of grapes"></td>
                <td><input type="radio" id="grapes-like" name="grapes" value="1"><label for="grapes-like">like</label><br>
                <input type="radio" id="grapes-neutral" name="grapes" value="0" checked><label for="grapes-neutral">neutral</label><br>
                <input type="radio" id="grapes-dislike" name="grapes" value="-1"><label for="grapes-dislike">dislike</label></td></tr>
            <tr><td>46</td><td>green beans</td><td><img src="static/images/greenbeans.jpg" alt="picture of green beans"></td>
                <td><input type="radio" id="greenbeans-like" name="greenbeans" value="1"><label for="greenbeans-like">like</label><br>
                <input type="radio" id="greenbeans-neutral" name="greenbeans" value="0" checked><label for="greenbeans-neutral">neutral</label><br>
                <input type="radio" id="greenbeans-dislike" name="greenbeans" value="-1"><label for="greenbeans-dislike">dislike</label></td></tr>
            <tr><td>47</td><td>green onions</td><td><img src="static/images/greenonions.jpg" alt="picture of green onions"></td>
                <td><input type="radio" id="greenonions-like" name="greenonions" value="1"><label for="greenonions-like">like</label><br>
                <input type="radio" id="greenonions-neutral" name="greenonions" value="0" checked><label for="greenonions-neutral">neutral</label><br>
                <input type="radio" id="greenonions-dislike" name="greenonions" value="-1"><label for="greenonions-dislike">dislike</label></td></tr>
            <tr><td>48</td><td>guava</td><td><img src="static/images/guava.jpg" alt="picture of guava"></td>
                <td><input type="radio" id="guava-like" name="guava" value="1"><label for="guava-like">like</label><br>
                <input type="radio" id="guava-neutral" name="guava" value="0" checked><label for="guava-neutral">neutral</label><br>
                <input type="radio" id="guava-dislike" name="guava" value="-1"><label for="guava-dislike">dislike</label></td></tr>
            <tr><td>49</td><td>honeydew melon</td><td><img src="static/images/honeydewmelon.jpg" alt="picture of honeydew melon"></td>
                <td><input type="radio" id="honeydewmelon-like" name="honeydewmelon" value="1"><label for="honeydewmelon-like">like</label><br>
                <input type="radio" id="honeydewmelon-neutral" name="honeydewmelon" value="0" checked><label for="honeydewmelon-neutral">neutral</label><br>
                <input type="radio" id="honeydewmelon-dislike" name="honeydewmelon" value="-1"><label for="honeydewmelon-dislike">dislike</label></td></tr>
            <tr><td>50</td><td>hubbard squash</td><td><img src="static/images/hubbardsquash.jpg" alt="picture of hubbard squash"></td>
                <td><input type="radio" id="hubbardsquash-like" name="hubbardsquash" value="1"><label for="hubbardsquash-like">like</label><br>
                <input type="radio" id="hubbardsquash-neutral" name="hubbardsquash" value="0" checked><label for="hubbardsquash-neutral">neutral</label><br>
                <input type="radio" id="hubbardsquash-dislike" name="hubbardsquash" value="-1"><label for="hubbardsquash-dislike">dislike</label></td></tr>
            <tr><td>51</td><td>iceberg lettuce</td><td><img src="static/images/iceberglettuce.jpg" alt="picture of iceberg lettuce"></td>
                <td><input type="radio" id="iceberglettuce-like" name="iceberglettuce" value="1"><label for="iceberglettuce-like">like</label><br>
                <input type="radio" id="iceberglettuce-neutral" name="iceberglettuce" value="0" checked><label for="iceberglettuce-neutral">neutral</label><br>
                <input type="radio" id="iceberglettuce-dislike" name="iceberglettuce" value="-1"><label for="iceberglettuce-dislike">dislike</label></td></tr>
            <tr><td>52</td><td>jicama</td><td><img src="static/images/jicama.jpg" alt="picture of jicama"></td>
                <td><input type="radio" id="jicama-like" name="jicama" value="1"><label for="jicama-like">like</label><br>
                <input type="radio" id="jicama-neutral" name="jicama" value="0" checked><label for="jicama-neutral">neutral</label><br>
                <input type="radio" id="jicama-dislike" name="jicama" value="-1"><label for="jicama-dislike">dislike</label></td></tr>
            <tr><td>53</td><td>kale</td><td><img src="static/images/kale.jpg" alt="picture of kale"></td>
                <td><input type="radio" id="kale-like" name="kale" value="1"><label for="kale-like">like</label><br>
                <input type="radio" id="kale-neutral" name="kale" value="0" checked><label for="kale-neutral">neutral</label><br>
                <input type="radio" id="kale-dislike" name="kale" value="-1"><label for="kale-dislike">dislike</label></td></tr>
            <tr><td>54</td><td>kiwi</td><td><img src="static/images/kiwi.jpg" alt="picture of kiwi"></td>
                <td><input type="radio" id="kiwi-like" name="kiwi" value="1"><label for="kiwi-like">like</label><br>
                <input type="radio" id="kiwi-neutral" name="kiwi" value="0" checked><label for="kiwi-neutral">neutral</label><br>
                <input type="radio" id="kiwi-dislike" name="kiwi" value="-1"><label for="kiwi-dislike">dislike</label></td></tr>
            <tr><td>55</td><td>kohlrabi</td><td><img src="static/images/kohlrabi.jpg" alt="picture of kohlrabi"></td>
                <td><input type="radio" id="kohlrabi-like" name="kohlrabi" value="1"><label for="kohlrabi-like">like</label><br>
                <input type="radio" id="kohlrabi-neutral" name="kohlrabi" value="0" checked><label for="kohlrabi-neutral">neutral</label><br>
                <input type="radio" id="kohlrabi-dislike" name="kohlrabi" value="-1"><label for="kohlrabi-dislike">dislike</label></td></tr>
            <tr><td>56</td><td>leeks</td><td><img src="static/images/leeks.jpg" alt="picture of leeks"></td>
                <td><input type="radio" id="leeks-like" name="leeks" value="1"><label for="leeks-like">like</label><br>
                <input type="radio" id="leeks-neutral" name="leeks" value="0" checked><label for="leeks-neutral">neutral</label><br>
                <input type="radio" id="leeks-dislike" name="leeks" value="-1"><label for="leeks-dislike">dislike</label></td></tr>
            <tr><td>57</td><td>lemons</td><td><img src="static/images/lemons.jpg" alt="picture of lemons"></td>
                <td><input type="radio" id="lemons-like" name="lemons" value="1"><label for="lemons-like">like</label><br>
                <input type="radio" id="lemons-neutral" name="lemons" value="0" checked><label for="lemons-neutral">neutral</label><br>
                <input type="radio" id="lemons-dislike" name="lemons" value="-1"><label for="lemons-dislike">dislike</label></td></tr>
            <tr><td>58</td><td>limes</td><td><img src="static/images/limes.jpg" alt="picture of limes"></td>
                <td><input type="radio" id="limes-like" name="limes" value="1"><label for="limes-like">like</label><br>
                <input type="radio" id="limes-neutral" name="limes" value="0" checked><label for="limes-neutral">neutral</label><br>
                <input type="radio" id="limes-dislike" name="limes" value="-1"><label for="limes-dislike">dislike</label></td></tr>
            <tr><td>59</td><td>mangos</td><td><img src="static/images/mangos.jpg" alt="picture of mangos"></td>
                <td><input type="radio" id="mangos-like" name="mangos" value="1"><label for="mangos-like">like</label><br>
                <input type="radio" id="mangos-neutral" name="mangos" value="0" checked><label for="mangos-neutral">neutral</label><br>
                <input type="radio" id="mangos-dislike" name="mangos" value="-1"><label for="mangos-dislike">dislike</label></td></tr>
            <tr><td>60</td><td>mushrooms</td><td><img src="static/images/mushrooms.jpg" alt="picture of mushrooms"></td>
                <td><input type="radio" id="mushrooms-like" name="mushrooms" value="1"><label for="mushrooms-like">like</label><br>
                <input type="radio" id="mushrooms-neutral" name="mushrooms" value="0" checked><label for="mushrooms-neutral">neutral</label><br>
                <input type="radio" id="mushrooms-dislike" name="mushrooms" value="-1"><label for="mushrooms-dislike">dislike</label></td></tr>
            <tr><td>61</td><td>nectarines</td><td><img src="static/images/nectarines.jpg" alt="picture of nectarines"></td>
                <td><input type="radio" id="nectarines-like" name="nectarines" value="1"><label for="nectarines-like">like</label><br>
                <input type="radio" id="nectarines-neutral" name="nectarines" value="0" checked><label for="nectarines-neutral">neutral</label><br>
                <input type="radio" id="nectarines-dislike" name="nectarines" value="-1"><label for="nectarines-dislike">dislike</label></td></tr>
            <tr><td>62</td><td>okra</td><td><img src="static/images/okra.jpg" alt="picture of okra"></td>
                <td><input type="radio" id="okra-like" name="okra" value="1"><label for="okra-like">like</label><br>
                <input type="radio" id="okra-neutral" name="okra" value="0" checked><label for="okra-neutral">neutral</label><br>
                <input type="radio" id="okra-dislike" name="okra" value="-1"><label for="okra-dislike">dislike</label></td></tr>
            <tr><td>63</td><td>oranges</td><td><img src="static/images/oranges.jpg" alt="picture of oranges"></td>
                <td><input type="radio" id="oranges-like" name="oranges" value="1"><label for="oranges-like">like</label><br>
                <input type="radio" id="oranges-neutral" name="oranges" value="0" checked><label for="oranges-neutral">neutral</label><br>
                <input type="radio" id="oranges-dislike" name="oranges" value="-1"><label for="oranges-dislike">dislike</label></td></tr>
            <tr><td>64</td><td>papayas</td><td><img src="static/images/papayas.jpg" alt="picture of papayas"></td>
                <td><input type="radio" id="papayas-like" name="papayas" value="1"><label for="papayas-like">like</label><br>
                <input type="radio" id="papayas-neutral" name="papayas" value="0" checked><label for="papayas-neutral">neutral</label><br>
                <input type="radio" id="papayas-dislike" name="papayas" value="-1"><label for="papayas-dislike">dislike</label></td></tr>
            <tr><td>65</td><td>parsley</td><td><img src="static/images/parsley.jpg" alt="picture of parsley"></td>
                <td><input type="radio" id="parsley-like" name="parsley" value="1"><label for="parsley-like">like</label><br>
                <input type="radio" id="parsley-neutral" name="parsley" value="0" checked><label for="parsley-neutral">neutral</label><br>
                <input type="radio" id="parsley-dislike" name="parsley" value="-1"><label for="parsley-dislike">dislike</label></td></tr>
            <tr><td>66</td><td>parsnips</td><td><img src="static/images/parsnips.jpg" alt="picture of parsnips"></td>
                <td><input type="radio" id="parsnips-like" name="parsnips" value="1"><label for="parsnips-like">like</label><br>
                <input type="radio" id="parsnips-neutral" name="parsnips" value="0" checked><label for="parsnips-neutral">neutral</label><br>
                <input type="radio" id="parsnips-dislike" name="parsnips" value="-1"><label for="parsnips-dislike">dislike</label></td></tr>
            <tr><td>67</td><td>passionfruit</td><td><img src="static/images/passionfruit.jpg" alt="picture of passionfruit"></td>
                <td><input type="radio" id="passionfruit-like" name="passionfruit" value="1"><label for="passionfruit-like">like</label><br>
                <input type="radio" id="passionfruit-neutral" name="passionfruit" value="0" checked><label for="passionfruit-neutral">neutral</label><br>
                <input type="radio" id="passionfruit-dislike" name="passionfruit" value="-1"><label for="passionfruit-dislike">dislike</label></td></tr>
            <tr><td>68</td><td>peaches</td><td><img src="static/images/peaches.jpg" alt="picture of peaches"></td>
                <td><input type="radio" id="peaches-like" name="peaches" value="1"><label for="peaches-like">like</label><br>
                <input type="radio" id="peaches-neutral" name="peaches" value="0" checked><label for="peaches-neutral">neutral</label><br>
                <input type="radio" id="peaches-dislike" name="peaches" value="-1"><label for="peaches-dislike">dislike</label></td></tr>
            <tr><td>69</td><td>pears</td><td><img src="static/images/pears.jpg" alt="picture of pears"></td>
                <td><input type="radio" id="pears-like" name="pears" value="1"><label for="pears-like">like</label><br>
                <input type="radio" id="pears-neutral" name="pears" value="0" checked><label for="pears-neutral">neutral</label><br>
                <input type="radio" id="pears-dislike" name="pears" value="-1"><label for="pears-dislike">dislike</label></td></tr>
            <tr><td>70</td><td>peas</td><td><img src="static/images/peas.jpg" alt="picture of peas"></td>
                <td><input type="radio" id="peas-like" name="peas" value="1"><label for="peas-like">like</label><br>
                <input type="radio" id="peas-neutral" name="peas" value="0" checked><label for="peas-neutral">neutral</label><br>
                <input type="radio" id="peas-dislike" name="peas" value="-1"><label for="peas-dislike">dislike</label></td></tr>
            <tr><td>71</td><td>persimmons</td><td><img src="static/images/persimmons.jpg" alt="picture of persimmons"></td>
                <td><input type="radio" id="persimmons-like" name="persimmons" value="1"><label for="persimmons-like">like</label><br>
                <input type="radio" id="persimmons-neutral" name="persimmons" value="0" checked><label for="persimmons-neutral">neutral</label><br>
                <input type="radio" id="persimmons-dislike" name="persimmons" value="-1"><label for="persimmons-dislike">dislike</label></td></tr>
            <tr><td>72</td><td>pineapples</td><td><img src="static/images/pineapples.jpg" alt="picture of pineapples"></td>
                <td><input type="radio" id="pineapples-like" name="pineapples" value="1"><label for="pineapples-like">like</label><br>
                <input type="radio" id="pineapples-neutral" name="pineapples" value="0" checked><label for="pineapples-neutral">neutral</label><br>
                <input type="radio" id="pineapples-dislike" name="pineapples" value="-1"><label for="pineapples-dislike">dislike</label></td></tr>
            <tr><td>73</td><td>plantains</td><td><img src="static/images/plantains.jpg" alt="picture of plantains"></td>
                <td><input type="radio" id="plantains-like" name="plantains" value="1"><label for="plantains-like">like</label><br>
                <input type="radio" id="plantains-neutral" name="plantains" value="0" checked><label for="plantains-neutral">neutral</label><br>
                <input type="radio" id="plantains-dislike" name="plantains" value="-1"><label for="plantains-dislike">dislike</label></td></tr>
            <tr><td>74</td><td>plums</td><td><img src="static/images/plums.jpg" alt="picture of plums"></td>
                <td><input type="radio" id="plums-like" name="plums" value="1"><label for="plums-like">like</label><br>
                <input type="radio" id="plums-neutral" name="plums" value="0" checked><label for="plums-neutral">neutral</label><br>
                <input type="radio" id="plums-dislike" name="plums" value="-1"><label for="plums-dislike">dislike</label></td></tr>
            <tr><td>75</td><td>pomegranates</td><td><img src="static/images/pomegranates.jpg" alt="picture of pomegranates"></td>
                <td><input type="radio" id="pomegranates-like" name="pomegranates" value="1"><label for="pomegranates-like">like</label><br>
                <input type="radio" id="pomegranates-neutral" name="pomegranates" value="0" checked><label for="pomegranates-neutral">neutral</label><br>
                <input type="radio" id="pomegranates-dislike" name="pomegranates" value="-1"><label for="pomegranates-dislike">dislike</label></td></tr>
            <tr><td>76</td><td>potatoes</td><td><img src="static/images/potatoes.jpg" alt="picture of potatoes"></td>
                <td><input type="radio" id="potatoes-like" name="potatoes" value="1"><label for="potatoes-like">like</label><br>
                <input type="radio" id="potatoes-neutral" name="potatoes" value="0" checked><label for="potatoes-neutral">neutral</label><br>
                <input type="radio" id="potatoes-dislike" name="potatoes" value="-1"><label for="potatoes-dislike">dislike</label></td></tr>
            <tr><td>77</td><td>pumpkins</td><td><img src="static/images/pumpkins.jpg" alt="picture of pumpkins"></td>
                <td><input type="radio" id="pumpkins-like" name="pumpkins" value="1"><label for="pumpkins-like">like</label><br>
                <input type="radio" id="pumpkins-neutral" name="pumpkins" value="0" checked><label for="pumpkins-neutral">neutral</label><br>
                <input type="radio" id="pumpkins-dislike" name="pumpkins" value="-1"><label for="pumpkins-dislike">dislike</label></td></tr>
            <tr><td>78</td><td>radicchio</td><td><img src="static/images/radicchio.jpg" alt="picture of radicchio"></td>
                <td><input type="radio" id="radicchio-like" name="radicchio" value="1"><label for="radicchio-like">like</label><br>
                <input type="radio" id="radicchio-neutral" name="radicchio" value="0" checked><label for="radicchio-neutral">neutral</label><br>
                <input type="radio" id="radicchio-dislike" name="radicchio" value="-1"><label for="radicchio-dislike">dislike</label></td></tr>
            <tr><td>79</td><td>radishes</td><td><img src="static/images/radishes.jpg" alt="picture of radishes"></td>
                <td><input type="radio" id="radishes-like" name="radishes" value="1"><label for="radishes-like">like</label><br>
                <input type="radio" id="radishes-neutral" name="radishes" value="0" checked><label for="radishes-neutral">neutral</label><br>
                <input type="radio" id="radishes-dislike" name="radishes" value="-1"><label for="radishes-dislike">dislike</label></td></tr>
            <tr><td>80</td><td>raspberries</td><td><img src="static/images/raspberries.jpg" alt="picture of raspberries"></td>
                <td><input type="radio" id="raspberries-like" name="raspberries" value="1"><label for="raspberries-like">like</label><br>
                <input type="radio" id="raspberries-neutral" name="raspberries" value="0" checked><label for="raspberries-neutral">neutral</label><br>
                <input type="radio" id="raspberries-dislike" name="raspberries" value="-1"><label for="raspberries-dislike">dislike</label></td></tr>
            <tr><td>81</td><td>red onions</td><td><img src="static/images/redonions.jpg" alt="picture of red onions"></td>
                <td><input type="radio" id="redonions-like" name="redonions" value="1"><label for="redonions-like">like</label><br>
                <input type="radio" id="redonions-neutral" name="redonions" value="0" checked><label for="redonions-neutral">neutral</label><br>
                <input type="radio" id="redonions-dislike" name="redonions" value="-1"><label for="redonions-dislike">dislike</label></td></tr>
            <tr><td>82</td><td>rhubarb</td><td><img src="static/images/rhubarb.jpg" alt="picture of rhubarb"></td>
                <td><input type="radio" id="rhubarb-like" name="rhubarb" value="1"><label for="rhubarb-like">like</label><br>
                <input type="radio" id="rhubarb-neutral" name="rhubarb" value="0" checked><label for="rhubarb-neutral">neutral</label><br>
                <input type="radio" id="rhubarb-dislike" name="rhubarb" value="-1"><label for="rhubarb-dislike">dislike</label></td></tr>
            <tr><td>83</td><td>romaine lettuce</td><td><img src="static/images/romainelettuce.jpg" alt="picture of romaine lettuce"></td>
                <td><input type="radio" id="romainelettuce-like" name="romainelettuce" value="1"><label for="romainelettuce-like">like</label><br>
                <input type="radio" id="romainelettuce-neutral" name="romainelettuce" value="0" checked><label for="romainelettuce-neutral">neutral</label><br>
                <input type="radio" id="romainelettuce-dislike" name="romainelettuce" value="-1"><label for="romainelettuce-dislike">dislike</label></td></tr>
            <tr><td>84</td><td>rutabagas</td><td><img src="static/images/rutabagas.jpg" alt="picture of rutabagas"></td>
                <td><input type="radio" id="rutabagas-like" name="rutabagas" value="1"><label for="rutabagas-like">like</label><br>
                <input type="radio" id="rutabagas-neutral" name="rutabagas" value="0" checked><label for="rutabagas-neutral">neutral</label><br>
                <input type="radio" id="rutabagas-dislike" name="rutabagas" value="-1"><label for="rutabagas-dislike">dislike</label></td></tr>
            <tr><td>85</td><td>shallots</td><td><img src="static/images/shallots.jpg" alt="picture of shallots"></td>
                <td><input type="radio" id="shallots-like" name="shallots" value="1"><label for="shallots-like">like</label><br>
                <input type="radio" id="shallots-neutral" name="shallots" value="0" checked><label for="shallots-neutral">neutral</label><br>
                <input type="radio" id="shallots-dislike" name="shallots" value="-1"><label for="shallots-dislike">dislike</label></td></tr>
            <tr><td>86</td><td>snow peas</td><td><img src="static/images/snowpeas.jpg" alt="picture of snow peas"></td>
                <td><input type="radio" id="snowpeas-like" name="snowpeas" value="1"><label for="snowpeas-like">like</label><br>
                <input type="radio" id="snowpeas-neutral" name="snowpeas" value="0" checked><label for="snowpeas-neutral">neutral</label><br>
                <input type="radio" id="snowpeas-dislike" name="snowpeas" value="-1"><label for="snowpeas-dislike">dislike</label></td></tr>
            <tr><td>87</td><td>spaghetti squash</td><td><img src="static/images/spaghettisquash.jpg" alt="picture of spaghetti squash"></td>
                <td><input type="radio" id="spaghettisquash-like" name="spaghettisquash" value="1"><label for="spaghettisquash-like">like</label><br>
                <input type="radio" id="spaghettisquash-neutral" name="spaghettisquash" value="0" checked><label for="spaghettisquash-neutral">neutral</label><br>
                <input type="radio" id="spaghettisquash-dislike" name="spaghettisquash" value="-1"><label for="spaghettisquash-dislike">dislike</label></td></tr>
            <tr><td>88</td><td>spinach</td><td><img src="static/images/spinach.jpg" alt="picture of spinach"></td>
                <td><input type="radio" id="spinach-like" name="spinach" value="1"><label for="spinach-like">like</label><br>
                <input type="radio" id="spinach-neutral" name="spinach" value="0" checked><label for="spinach-neutral">neutral</label><br>
                <input type="radio" id="spinach-dislike" name="spinach" value="-1"><label for="spinach-dislike">dislike</label></td></tr>
            <tr><td>89</td><td>starfruit</td><td><img src="static/images/starfruit.jpg" alt="picture of starfruit"></td>
                <td><input type="radio" id="starfruit-like" name="starfruit" value="1"><label for="starfruit-like">like</label><br>
                <input type="radio" id="starfruit-neutral" name="starfruit" value="0" checked><label for="starfruit-neutral">neutral</label><br>
                <input type="radio" id="starfruit-dislike" name="starfruit" value="-1"><label for="starfruit-dislike">dislike</label></td></tr>
            <tr><td>90</td><td>strawberries</td><td><img src="static/images/strawberries.jpg" alt="picture of strawberries"></td>
                <td><input type="radio" id="strawberries-like" name="strawberries" value="1"><label for="strawberries-like">like</label><br>
                <input type="radio" id="strawberries-neutral" name="strawberries" value="0" checked><label for="strawberries-neutral">neutral</label><br>
                <input type="radio" id="strawberries-dislike" name="strawberries" value="-1"><label for="strawberries-dislike">dislike</label></td></tr>
            <tr><td>91</td><td>sugar snap peas</td><td><img src="static/images/sugarsnappeas.jpg" alt="picture of sugar snap peas"></td>
                <td><input type="radio" id="sugarsnappeas-like" name="sugarsnappeas" value="1"><label for="sugarsnappeas-like">like</label><br>
                <input type="radio" id="sugarsnappeas-neutral" name="sugarsnappeas" value="0" checked><label for="sugarsnappeas-neutral">neutral</label><br>
                <input type="radio" id="sugarsnappeas-dislike" name="sugarsnappeas" value="-1"><label for="sugarsnappeas-dislike">dislike</label></td></tr>
            <tr><td>92</td><td>sweet potatoes</td><td><img src="static/images/sweetpotatoes.jpg" alt="picture of sweet potatoes"></td>
                <td><input type="radio" id="sweetpotatoes-like" name="sweetpotatoes" value="1"><label for="sweetpotatoes-like">like</label><br>
                <input type="radio" id="sweetpotatoes-neutral" name="sweetpotatoes" value="0" checked><label for="sweetpotatoes-neutral">neutral</label><br>
                <input type="radio" id="sweetpotatoes-dislike" name="sweetpotatoes" value="-1"><label for="sweetpotatoes-dislike">dislike</label></td></tr>
            <tr><td>93</td><td>swiss chard</td><td><img src="static/images/swisschard.jpg" alt="picture of swiss chard"></td>
                <td><input type="radio" id="swisschard-like" name="swisschard" value="1"><label for="swisschard-like">like</label><br>
                <input type="radio" id="swisschard-neutral" name="swisschard" value="0" checked><label for="swisschard-neutral">neutral</label><br>
                <input type="radio" id="swisschard-dislike" name="swisschard" value="-1"><label for="swisschard-dislike">dislike</label></td></tr>
            <tr><td>94</td><td>tomatoes</td><td><img src="static/images/tomatoes.jpg" alt="picture of tomatoes"></td>
                <td><input type="radio" id="tomatoes-like" name="tomatoes" value="1"><label for="tomatoes-like">like</label><br>
                <input type="radio" id="tomatoes-neutral" name="tomatoes" value="0" checked><label for="tomatoes-neutral">neutral</label><br>
                <input type="radio" id="tomatoes-dislike" name="tomatoes" value="-1"><label for="tomatoes-dislike">dislike</label></td></tr>
            <tr><td>95</td><td>turnips</td><td><img src="static/images/turnips.jpg" alt="picture of turnips"></td>
                <td><input type="radio" id="turnips-like" name="turnips" value="1"><label for="turnips-like">like</label><br>
                <input type="radio" id="turnips-neutral" name="turnips" value="0" checked><label for="turnips-neutral">neutral</label><br>
                <input type="radio" id="turnips-dislike" name="turnips" value="-1"><label for="turnips-dislike">dislike</label></td></tr>
            <tr><td>96</td><td>watermelon</td><td><img src="static/images/watermelon.jpg" alt="picture of watermelon"></td>
                <td><input type="radio" id="watermelon-like" name="watermelon" value="1"><label for="watermelon-like">like</label><br>
                <input type="radio" id="watermelon-neutral" name="watermelon" value="0" checked><label for="watermelon-neutral">neutral</label><br>
                <input type="radio" id="watermelon-dislike" name="watermelon" value="-1"><label for="watermelon-dislike">dislike</label></td></tr>
            <tr><td>97</td><td>wax beans</td><td><img src="static/images/waxbeans.jpg" alt="picture of wax beans"></td>
                <td><input type="radio" id="waxbeans-like" name="waxbeans" value="1"><label for="waxbeans-like">like</label><br>
                <input type="radio" id="waxbeans-neutral" name="waxbeans" value="0" checked><label for="waxbeans-neutral">neutral</label><br>
                <input type="radio" id="waxbeans-dislike" name="waxbeans" value="-1"><label for="waxbeans-dislike">dislike</label></td></tr>
            <tr><td>98</td><td>yellow onions</td><td><img src="static/images/yellowonions.jpg" alt="picture of yellow onions"></td>
                <td><input type="radio" id="yellowonions-like" name="yellowonions" value="1"><label for="yellowonions-like">like</label><br>
                <input type="radio" id="yellowonions-neutral" name="yellowonions" value="0" checked><label for="yellowonions-neutral">neutral</label><br>
                <input type="radio" id="yellowonions-dislike" name="yellowonions" value="-1"><label for="yellowonions-dislike">dislike</label></td></tr>
            <tr><td>99</td><td>yellow squash</td><td><img src="static/images/yellowsquash.jpg" alt="picture of yellow squash"></td>
                <td><input type="radio" id="yellowsquash-like" name="yellowsquash" value="1"><label for="yellowsquash-like">like</label><br>
                <input type="radio" id="yellowsquash-neutral" name="yellowsquash" value="0" checked><label for="yellowsquash-neutral">neutral</label><br>
                <input type="radio" id="yellowsquash-dislike" name="yellowsquash" value="-1"><label for="yellowsquash-dislike">dislike</label></td></tr>
            <tr><td>100</td><td>zucchini</td><td><img src="static/images/zucchini.jpg" alt="picture of zucchini"></td>
                <td><input type="radio" id="zucchini-like" name="zucchini" value="1"><label for="zucchini-like">like</label><br>
                <input type="radio" id="zucchini-neutral" name="zucchini" value="0" checked><label for="zucchini-neutral">neutral</label><br>
                <input type="radio" id="zucchini-dislike" name="zucchini" value="-1"><label for="zucchini-dislike">dislike</label></td></tr>
            </table>
            <p><label for="name">Your name (optional):</label>
            <input type="text" id="name" value=""></p>
            <p><input type ='submit' value='Submit'/></p>
        </form>
    </body>
</html>
